.button {
    background-color: #000000;
    border: none;
    box-shadow: 0 9px#505050;
    padding: 2vh;
    font-size: 3vh;
    text-align: center;

    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    height: 10vh;
}

.button:hover {
    background-color: #3f3f3f;
}

.button:disabled
{
  background-color: #3f3f3f;
  box-shadow: 0 5px #3d3d3d;
  transform: translateX(-50%) translateY(4px);
}

.button:active {
    box-shadow: 0 5px #3d3d3d;
    transform: translateX(-50%) translateY(4px);
}

.red {
    color: #FF0000;
}

.blue {
      margin-left: -15vh;
    color: #00ffff;
}

.yellow {
      margin-left: 15vh;
    color: #FFFF00;
}

.round {
    border-radius: 50%;
}

.healthBar
{
  height: 5vh;
  width: 70%;
  background-color: #4287f5;
  font-size: 2.5vh;
  position: relative;
  left:50%;
  margin-left: -35%;
     line-height: 5vh;
   text-align: center;
}

.emptyBar
{
  height: 5vh;
  width: 10vh;
  background-color: #555;
}

.row{
    visibility: hidden;
}

.row::after
{
  content: "";
display: table;
clear: both;
}

.column
{
  margin: auto;
  font-size: 3vh;
  text-align: center;
  float: left;
  width: 33.33%;
  line-height: 30%;

}

html, body
{
  width: 100%;
  height: 100%;
  margin: 0;
}

#closeUp
{
  transform:translate(0%,-20%);
    position: relative;
  height: 8vh;
}
